
body{
    background-color: #720ACF;
    }
    .register{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #78148C;
    width: 400px;
    height: 580px;
    border-radius: 10%;
    
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 35%;
    margin-right: 40%;
    }
    
    .logintext{
        color: white;
    }
    input{
        margin-left: 12%;
        width: 70%;
        height: 6%;
        border-radius:25px;
        border-color: white;
        
    }
    label{
        margin-left: 12%;
        
    }
    button{
    width: 80%;
    height: 10% ;
    border-radius: 20px;
    border-color: #B02CB1;
    color: white;
    background-color:#B02CB1 ;
    margin-top: 10%;
    border:none
    
    }
    button:hover{background-color: #8B208C; border-color: #8B208C ;}
    